.App {
  text-align: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  display: flex;
  font-size: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.todo {
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 15px;
}
.title {
  margin-top: 0;
}

li {
  list-style: none;
  padding: 0px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 15em; /* 1.5 x 10 */
  overflow-y: auto;
}
.container {
  display: inline-flex;
  min-width: 100%;
}
.button-add {
  margin-right: 20%;
}
.input-text {
  min-width: 70%;
}
